<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Route requests to the Node entrypoint via iisnode -->
    <handlers>
      <add name="iisnode" path="Weather.js" verb="*" modules="iisnode" resourceType="Unspecified"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- If the request is not a file, rewrite to Weather.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="Weather.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable iisnode logging for diagnostics -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
